body {
  background: linear-gradient(60deg, #28a745, rgba(0,0,255,0) 70%),
              linear-gradient(120deg, #17a2b8, rgba(0,0,255,0) 70%),
              linear-gradient(180deg, #ffc107, rgba(0,0,255,0) 70%),
              linear-gradient(270deg, #dc3545, rgba(0,0,255,0) 70%),
              linear-gradient(360deg, #6c757d, rgba(0,0,255,0) 70%);
}

.fill {
    min-height: 100vh;
    height: 100%;
}

.btn {
  color:white;
  border:none !important;
  outline: 0 none;
}

.btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  background-color:rgba(0,0,0,0) !important;
  color:white;
}

.icon {
  top: 0px;
  right: 0px;
}

.card {
  background-color: rgba(245, 245, 245, 0) !important;
  border-color: rgba(245, 245, 245, 1) !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
}

.card-footer {
  background-color: rgba(245, 245, 245, .2) !important;
  border-color: rgba(245, 245, 245, 1) !important;
}

.card-header {
  background-color: rgba(245, 245, 245, .2) !important;
  border-color: rgba(245, 245, 245, 0) !important;
}
